{deps, [
  {boss, ".*", {git, "git://github.com/evanmiller/ChicagoBoss.git", "HEAD"}},
  {boss_form, ".*", {git, "git://github.com/ngaranko/boss_form.git", "HEAD"}}
]}.
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{lib_dirs, ["/Users/ngaranko/Projects/ChicagoBoss/deps/elixir/lib"]}.
