{deps, [
  {boss, ".*", {git, "https://github.com/ChicagoBoss/ChicagoBoss.git", {tag, "v0.9.pre-alpha-2"}}},
  {boss_form, ".*", {git, "git://github.com/ngaranko/boss_form.git", "HEAD"}}
]}.
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{lib_dirs, ["../ChicagoBoss/deps/elixir/lib"]}.
