{% extends 'panel/base.html' %}

{% block content %}
<form role="form" method="POST">
    {{ csrf_token|safe }}
  <h2 class="form-signin-heading">New entry</h2>
  {% for error, text in form.errors %}
  {{ error }}: {{ text }}<br />
  {% endfor %}
  {% for field in form.fields %}
      <div class="{% if field.errors %} has-error{% endif %}">
          {{ field.html|safe }}
      </div>
  {% endfor %}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>


{% endblock %}